/*null style*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:regular,italic,700,700italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Ubuntu Mono", serif;
}

h1 {
  font-size: 67px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
}

[class*=_container] {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

a.header__logo {
  height: 100px;
  padding: 30px;
  color: #000;
  display: flex;
  max-width: 360px;
  justify-content: space-around;
}
a.header__logo div {
  display: inline-block;
  width: auto;
  height: 40px;
  position: relative;
  margin: 10px;
  top: 0;
}

.w,
.e,
.b,
.d {
  background-color: #f5f5f5;
  display: inline-block;
  height: 8px;
  width: 1px;
  border-radius: 3px 8px;
  transform-origin: 0 0;
  bottom: 0;
}

.w:nth-child(odd) {
  width: 40px;
  transform-origin: 0% 50%;
  transform: rotate(-115deg);
}
.w:nth-child(even) {
  width: 30px;
  transform-origin: 0% 50%;
  transform: rotate(-65deg);
}
.w:first-child {
  position: absolute;
  left: 0;
}
.w:nth-child(2) {
  position: absolute;
  left: 0px;
}
.w:nth-child(3) {
  position: absolute;
  left: 30px;
}
.w:nth-child(4) {
  width: 40px;
  position: absolute;
  left: 30px;
}

.e {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 20px;
}
.e:first-child {
  transform: rotate(-60deg);
}
.e:nth-child(2) {
  transform-origin: 0% 100%;
  transform: rotate(60deg);
}
.e:nth-child(3) {
  transform-origin: 100% 100%;
  transform: rotate(60deg);
}

.b {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 20px;
}
.b:nth-child(1) {
  width: 40px;
  transform-origin: 0% 50%;
  transform: rotate(-90deg);
}
.b:nth-child(2) {
  transform-origin: 0% 50%;
  transform: rotate(60deg);
}
.b:nth-child(3) {
  transform-origin: 0% 50%;
  transform: rotate(-60deg);
}
.b:nth-child(4) {
  transform-origin: 100% 50%;
  transform: rotate(60deg);
}
.b:nth-child(5) {
  transform-origin: 100% 50%;
  transform: rotate(-60deg);
}

.d {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 20px;
}
.d:nth-child(1) {
  width: 40px;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  top: 0px;
}
.d:nth-child(2) {
  transform-origin: 0% 50%;
  transform: rotate(60deg);
}
.d:nth-child(3) {
  transform-origin: 0% 50%;
  transform: rotate(-60deg);
}
.d:nth-child(4) {
  transform-origin: 100% 50%;
  transform: rotate(60deg);
}
.d:nth-child(5) {
  transform-origin: 100% 50%;
  transform: rotate(-60deg);
}